@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alice|Nanum+Myeongjo&display=swap');

* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: mistyrose;
}

#diceImage{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 25%;
    height: 25%;
}

h1 {
    font-family: 'Alice', serif;
    font-size: 60px;
}

button {
    display: inline-block;
    padding: 0.35cm 0.8cm;
    border: 0.1cm solid whitesmoke;
    margin: 0 0.3cm 0.3cm 0;
    border-radius: 0.12cm;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: lightcoral;
    text-align: center;
    transition: all 0.2s;
}

button hover {
    color: whitesmoke;
    background-color: lightcoral;
    opacity: 0.5;
}


#roll, #playButton {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}

#box{
    box-sizing: border-box;
    border-style: solid;
    background-color: lightcoral;
    opacity: 0.6;
    padding: 20px;
    border-radius: 50px;
    align-content: center;
    margin: 0 95px;
    color: whitesmoke;
    font-weight: 300;
    /* box-shadow: 20px 10px 10px 0px rgba(0,0,0,0.3); */
    box-shadow: -6px 4px 20px 20px rgba(0,0,0,0.18);
}

.players  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
}

 #statistics {
     color: lightcoral;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-end;
} 


